@font-face {
    font-family: 'Rubik';
    src: url(./assets/fonts/Rubik-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url(./assets/fonts/Rubik-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8faf9;
    font-family: 'Rubik', monospace;
    /* padding: 0 20%; */
}

.container{
    /* background-color: aquamarine; */
    max-width: 100%;
    margin: 0 auto;
    padding: 12px 20px;
}

.navbar .nav-link {
  font-weight: bold;
  color: black !important;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbar .nav-link:hover {
  text-decoration: underline;
  color: black !important;
}

#hero .container{
    /* background: linear-gradient(to bottom, #f0f0f0, #999999, #000000); */
}

.timeline {
  border-left: 1px solid black;
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: black;
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.skill-card img{
    max-width: 72px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #343a40;
  border-radius: 5px;   
  padding: 50px 0;
}

.footer-link{
  font-weight: bold;
  color: black !important;
  text-decoration: none;
  transition: 0.3s ease;
}
.footer-link:hover{
  text-decoration: underline;
  color: black !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}